<mat-card>
  <mat-card-title>Welcome to shapes!</mat-card-title>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)=" signOut() ">
      Sign Out
    </button>
  </mat-card-actions>
</mat-card>

<ss-shape-create></ss-shape-create>
<ss-shape-list></ss-shape-list>
