<form [formGroup]=" form " (ngSubmit)=" submit() ">
  <mat-card>
    <mat-card-title>
      {{ ordinal }}.
      {{ ShapeTypeDisplayMap[shape.shape_type] }}
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Base</mat-label>
        <input matInput formControlName="base" type="number"/>
        <mat-error>
          <ng-container *ngIf=" form.get('base').hasError('required') ">Required</ng-container>
          <ng-container *ngIf=" form.get('base').hasError('null') ">Required</ng-container>
          <ng-container *ngIf=" form.get('base').hasError('invalid') ">Valid number only</ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Height</mat-label>
        <input matInput formControlName="height" type="number"/>
        <mat-error>
          <ng-container *ngIf=" form.get('height').hasError('required') ">Required</ng-container>
          <ng-container *ngIf=" form.get('height').hasError('null') ">Required</ng-container>
          <ng-container *ngIf=" form.get('height').hasError('invalid') ">Valid number only</ng-container>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">
        Update
      </button>
      <button mat-button color="accent" (click)=" cancel() ">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>
