<form [formGroup]=" form " (ngSubmit)=" submit() ">
  <mat-card>
    <mat-card-title>Sign In</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email"/>
        <mat-error>
          <ng-container *ngIf=" form.get('email').hasError('required') ">Required</ng-container>
          <ng-container *ngIf=" form.get('email').hasError('blank') ">Required</ng-container>
          <ng-container *ngIf=" form.get('email').hasError('user_not_found') ">User not found</ng-container>
          <ng-container *ngIf=" form.get('email').hasError('user_deactivated') ">User not found</ng-container>
          <ng-container *ngIf=" form.get('email').hasError('invalid') ">Invalid email</ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password"/>
        <mat-error>
          <ng-container *ngIf=" form.get('email').hasError('required') ">Required</ng-container>
          <ng-container *ngIf=" form.get('email').hasError('blank') ">Required</ng-container>
          <ng-container *ngIf=" form.get('email').hasError('wrong_password') ">Wrong password</ng-container>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">
        Continue
      </button>
      <button mat-button color="primary" type="button" [routerLink]="['/', RouteName.register]">
        Or, Register
      </button>
    </mat-card-actions>
  </mat-card>
</form>
