<ng-container *ngIf=" updateMode; else readMode ">
  <ss-shape-update [shape]=" shape " [ordinal]=" ordinal "></ss-shape-update>
</ng-container>
<ng-template #readMode>
  <mat-card>
    <mat-card-title>
      {{ ordinal }}.
      {{ ShapeTypeDisplayMap[shape.shape_type] }}
    </mat-card-title>
    <mat-card-content>
      <dl>
        <dt>Created</dt>
        <dd>{{ shape.created|date:'medium' }}</dd>
        <dt>Base</dt>
        <dd>{{ shape.base }}</dd>
        <dt>Height</dt>
        <dd>{{ shape.height }}</dd>
        <dt>Area</dt>
        <dd>{{ shape.area }}</dd>
        <dt>Perimeter</dt>
        <dd>{{ shape.perimeter }}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)=" toUpdateMode() ">
        Update
      </button>
      <button mat-button color="accent" (click)=" delete() ">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
