<form [formGroup]=" form " (ngSubmit)=" submit() ">
  <mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email"/>
        <mat-error>
          <ng-container *ngIf=" form.get('email').hasError('required') ">Required</ng-container>
          <ng-container *ngIf=" form.get('email').hasError('blank') ">Required</ng-container>
          <ng-container *ngIf=" form.get('email').hasError('invalid') ">Invalid email</ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first_name"/>
        <mat-error>
          <ng-container *ngIf=" form.get('first_name').hasError('required') ">Required</ng-container>
          <ng-container *ngIf=" form.get('first_name').hasError('blank') ">Required</ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last_name"/>
        <mat-error>
          <ng-container *ngIf=" form.get('last_name').hasError('required') ">Required</ng-container>
          <ng-container *ngIf=" form.get('last_name').hasError('blank') ">Required</ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password"/>
        <mat-error>
          <ng-container *ngIf=" form.get('password').hasError('required') ">Required</ng-container>
          <ng-container *ngIf=" form.get('password').hasError('blank') ">Required</ng-container>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">
        Continue
      </button>
      <button mat-button color="primary" type="button" [routerLink]="['/', RouteName.signIn]">
        Or, Sign In
      </button>
    </mat-card-actions>
  </mat-card>
</form>
