<form #myForm="ngForm" [formGroup]=" form " (ngSubmit)=" submit(myForm) ">
  <mat-card>
    <mat-card-title>Encode new Shape</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Shape Type</mat-label>
        <mat-select formControlName="shape_type">
          <mat-option *ngFor="let shape of ShapeTypeTuples" [value]=" shape.value ">
            {{ shape.display }}
          </mat-option>
        </mat-select>
        <mat-error>
          <ng-container *ngIf=" form.get('shape_type').hasError('required') ">Required</ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Base</mat-label>
        <input matInput formControlName="base" type="number"/>
        <mat-error>
          <ng-container *ngIf=" form.get('base').hasError('required') ">Required</ng-container>
          <ng-container *ngIf=" form.get('base').hasError('invalid') ">Valid number only</ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Height</mat-label>
        <input matInput formControlName="height" type="number"/>
        <mat-error>
          <ng-container *ngIf=" form.get('height').hasError('required') ">Required</ng-container>
          <ng-container *ngIf=" form.get('height').hasError('invalid') ">Valid number only</ng-container>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              [disabled]=" isSubmitting ">
        Encode
      </button>
    </mat-card-actions>
  </mat-card>
</form>
