<p *ngIf=" shapes.length === 0 ">Either loading or empty.</p>

<ng-container *ngFor=" let shape of shapes; let index = index ">
  <ss-shape-item [shape]=" shape " [ordinal]=" index + 1 "></ss-shape-item>
</ng-container>
